@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-size: 12px;
}

input[type="range"]::-webkit-slider-thumb {
  border: 2px solid #00001e;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: pink;
  cursor: pointer;
  appearance: none;
  margin-top: -8px;
}
